/* mat-drawer {
    margin-top: 2em;
    width: 200px;
    padding: 0.5em;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.detail-item {
    margin: 0.1em;
    color: red;
}

.detail-header{
    text-align: center;
}


  .sidenav-details{
    width: 10em;
    height: 10em;
    left:0.7em;
    top:0.7em
  }
  .detail-body{
   width: 90%;
   left: 10px;
  }